.btn{
    position: relative;
    top: 50px;
    color: balck;
    background-color: rgb(155, 153, 153);
    font-size: 30px;
    padding: 12px;
    width : 150px;
    border: 2px solid rgb(123, 123, 124);
    border-radius: 5px;
    cursor: pointer;
}

.content{
    position: relative;
    top:100px;
    font-size: 40px;
}